@charset "utf-8";
/* CSS Document */
.footer{
	width:100%;
	height:200px;
}
.bottom{
	height:150px;
	width:100%;
	min-width:1000px;
	background-color:#2E93D5;
	color:#FFFFFF;
}
.bottom_all{
	height:130px;
	width:1000px;
}
.contact,.the_badge,.qr_code{
	float:left;
	width:332px;
	height:120px;
	border-left:solid 1px #00CCFF;
	margin-top:15px;
}
.contact_all{
	width:100%;
	line-height:26px;
}
.address,.phone,.email{
	margin:10px 0 10px 28px;
}
.phone span{
	margin-right:20px;
}
.school_badge{
	height:120px;
	width:116px;
	background-image:url(../images/shaoguanuniversitywhile.png);
	background-repeat:no-repeat;
}
.qr_code{
	border-right:solid 1px #00CCFF;
}
.qr_code_all{
	width:238px;
}
.wechat{
	float:left;
}
.wechat_qr_code{
	background-image:url(../images/qr_code.png);
}
.microblog{
	float:right;
}
.wechat,.microblog{
	width:100px;
	height:120px;
	margin-top:4px;
}
.microblog_qr_code{
	background-image:url(../images/qr_code.png);
}
.wechat_qr_code,.microblog_qr_code{
	background-repeat:no-repeat;
	width:90px;
	height:90px;
}
.official_wechat,.official_microblog{
	width:90px;
	height:20px;
	margin-top:8px;
}
.wechat_icon{
	background-image:url(../images/wechat.png);
}
.sina_icon{
	background-image:url(../images/weibo.png);
}
.wechat_icon,.sina_icon{
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
}
.wechat_word,.sina_word{
	float:left;
}
.copy{
	width:100%;
	min-width:1000px;
	height:50px;
	background-color:#333333;
	color:#FFFFFF;
}
.copy_all{
	width:1000px;
	height:50px;
	line-height:25px;
	font-size:14px;
}
.friendly_link{
}
.copyright{
	margin-top:0 auto;
}
.copyright span{
	margin:0 2px 0 3px;
}
