@charset "utf-8";
/* CSS Document */
a{
	cursor:default;	
}
.page a:link {
	text-decoration: none;
	color:#000000;
}
.page a:hover{
	text-decoration: underline;
	color:#2E93D5;
}
.page a:visited {
	text-decoration: none;
	color:#000000;
}
.page a:active {
	text-decoration: none;
	color:#2E93D5;
}
.page{
	width:100%;
	min-width:1000px;
	max-width:4000px;
}
.thousand{
	width:1000px;
}
.photo_carousel{
	width:100%;
	height:460px;
}
/*首栏新闻*/
.first_news{
	width:100%;
	height:204px;
}
.left_news{
	float:left;
	width:628px;
	height:204px;
}
.left_header{
	width:100%;
	height:24px;
	border-bottom:2px solid #2E93D5;
}
.titles_left{
	float:left;
	margin-top:-10px;
}
.more_right{
	float:right;
	margin-right:10px;
	font-size:15px;
}
.titles{
	color:#000000;
	font-family:'楷体';
	font-size:24px;
	margin:0 5px 0 10px;
}
.english{
	color:#2E93D5;
	font-family:'Georgia';
	font-size:larger;
}
.left_footer{
	width:100%;
	height:180px;
}
.footer_news{
	margin:4px 8px 5px 15px;
}
.right_footer_news{
	margin:9px 8px 5px 15px;
}
.data{
	color:#2E93D5;
	font-family:'Georgia';
	font-size:22px;
}
.year{
	font-size:large;
}
.line{
	border-left:1px solid #777777; 
	height:26px;
}
.news_ellipsis{
	display:block; 
	width:485px; 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	word-break:keep-all;
	margin:0 0 0 3px;
}
.right_news{
	float:right;
	width:363px;
	height:204px;
}
.right_header{
	width:100%;
	height:24px;
	border-bottom:2px solid #2E93D5;
}
.right_footer{
	width:100%;
	height:180px;
}
.none_line{
	border:0;
	height:31px;
}
.none_ellipsis{
	display:block; 
	width:350px; 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	word-break:keep-all;
}
.second_news{
	margin-top:8px;
	width:100%;
	height:150px;
}
.all_header{
	width:100%;
	height:24px;
	border-bottom:2px solid #2E93D5;
}
.all_footer{
	width:100%;
	height:126px;
}
.all_news{
	width:100%;
	height:100%;
	margin-top:13px;
}
.information_management_icon,.continuing_education_icon,.network_teaching_icon,.training_management_icon,.office_oa_icon,.graduation_report_icon,.digital_library_icon,.teaching_resources_icon,.teaching_calendar_icon{
	background-repeat:no-repeat;
	width:70px;
	height:70px;
	border-radius:50%;
	margin:3px 0 8px 0;
}
.information_management_icon:hover,.continuing_education_icon:hover,.network_teaching_icon:hover,.training_management_icon:hover,.office_oa_icon:hover,.graduation_report_icon:hover,.digital_library_icon:hover,.teaching_resources_icon:hover,.teaching_calendar_icon:hover{
	margin-top:-10px;
	margin-bottom:21px;
}
.information_management_icon{
	background-image:url(../images/信息管理.png);
}
.continuing_education_icon{
	background-image:url(../images/继续教育.png);
}
.network_teaching_icon{
	background-image:url(../images/网络教学.png);
}
.training_management_icon{
	background-image:url(../images/培训管理.png);
}
.office_oa_icon{
	background-image:url(../images/办公oa.png);
}
.graduation_report_icon{
	background-image:url(../images/毕业报到.png);
}
.digital_library_icon{
	background-image:url(../images/数字图书馆.png);
}
.teaching_resources_icon{
	background-image:url(../images/教学资源.png);
}
.teaching_calendar_icon{
	background-image:url(../images/教学日历.png);
}
.icons{
	width:90px;
	height:100px;
	float:left;
	margin:5px 11px 11px 10px;
}
.all_video{
	float:left;
	width:100%;
	height:180px;
	margin:0 20px 0 20px;
}
.one_video{
	width:166px; 
	height:180px; 
	float:left; 
	margin:13px 10px -3px 10px;
}
.video_pic{
	width:166px;/*176*/
	height:110px;
	border:1px solid #CCCCCC;
}
.video_pic img{
	windth:100%;
	height:100%;
}
.video_name{
	width:100%;
	height:20px; 
	margin-top:4px;
	display:block;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	word-break:keep-all;
}
.video_tt{
	width:100%;
	height:20px;
}
.video_tt span{
	margin-left:5px;
}
.third_news,.fourth_news,.sixth_news{
	margin-top:18px;
	width:100%;
	height:204px;
}
.fifth_news,.seventh_new{
	margin-top:8px;
	width:100%;
	height:201px;
}
#myCarousel img{
	width:1000px;
	height:450px;
}
.carousel-indicators{
	margin-left:280px; 
	margin-bottom:-6px; 
	width:200px; 
	text-align:right;
}
.carousel-caption{
	width:1000px; 
	height:40px; 
	background-color:rgba(0,0,0,0.65); 
	margin-left:-200px; 
	margin-bottom:-20px; 
	text-align:left; 
	line-height:12px;
	font-family:'楷体'; 
	font-size:26px;
}
.carousel-caption span{
	display:inlie-block;
	height:50px;
	width:800px;
	margin-left:15px;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
	display:block;
	line-height:30px;
	margin-top:-10px;
	cursor:default;
}
@media screen and (max-width:768px){
	.carousel-caption{
		width:1000px; 
		height:40px; 
		background-color:rgba(0,0,0,0.65); 
		margin-left:-150px; 
		margin-bottom:-20px; 
		text-align:left; 
		line-height:3px;
		font-family:'楷体'; 
		font-size:26px;
	}
}
/*悬浮框*/
.suspension_frame{
	width:120px;
	height:309px;
	position:fixed;
	z-index:100;
	top:25%;
	color:#FFFFFF;
	margin-top:40px;
	border: solid 1px #CBCBCB;
}
.frame_btn{
	background-color:#2E93D5;
	width:100%;
	height:35px;
	line-height:35px;
	margin:0 0 3px 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor:default;
}
.frame_btn:hover{
	background-color:rgba(225,225,225,0.3);
	color:#2E93D5;
	font-weight:bold;
	margin:2px 0 2px 0;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
.frame_btn:hover a{
	color:#2E93D5;
}
.frame_btn a{
	color:#FFFFFF;
}
.frame_btn a:hover{
	color:#2E93D5;
	text-decoration: none;
}
.frame_code_word{
	background-color:#2E93D5;
	position:absolute;
	bottom:0;
}
.frame_qr_code{
	width:120px;
	height:120px;
	background-image:url(../images/qr_code.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-bottom:-1px;
}
.frame_word{
	margin-bottom:-13px;
	font-size:15px;
}
.frame_word p{
	margin-top:-2px;		
}